<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlogContext"
        providerName="System.Data.SqlClient"
        connectionString="Server=bitsql.wctc.edu;Database=BlogsConsole_19_STT;User ID=stom;Password=000538346"/>
  </connectionStrings>
</configuration>